*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
:root{
   --azulMarinho: #1a237e;   /* Azul Marinho */
   --amarelo:#ffd600;   /* Amarelo */
   --vermelho:#d32f2f;   /* Vermelho para mensagens de erro */
   --verde:#388e3c;   /* Verde para sucesso */
   --fundo:#f5f5f5;   /*cor de fundo*/
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: var(--fundo);
    color: #000;
}
header{
    background: var(--azulMarinho);
    padding: 1rem;
    text-align: center;

    h1{    
        color: var(--fundo);
        font-size: medium;
    }
}
main{
    width: 100%;
}
.form-section{
    background:#fff;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    margin: 40px auto;
    h2{
        margin-bottom: 10px;
        color: var(--azulMarinho);
        text-decoration: underline;
        text-decoration-color: var(--amarelo);
        text-decoration-thickness: 3px; 
    }
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}