/* geral */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* Container central */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

/* Título */
h1 {
    color: #d35400;
}

/* Cards dos produtos */
.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 180px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-weight: bold;
    color: #555;
}

/* Botão de comprar */
.btn-comprar {
    background: #e67e22;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-comprar:hover {
    background: #cf6d13;
}

/* Carrinho */
.carrinho-container {
    margin-top: 30px;
    background: #fff3e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}