/* reset basico */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* variaveis globais */
:root{
    --primaria: #e63946;
    --escura: #1d3557;
    --clara: #f1faee;
    --bgCard: #fff
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--clara);
    color: var(--escura)
}

header{
    background: var(--escura);
    padding: 1rem;
    text-align: center;
}
header h1{
    color: var(--clara);
}
main{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}
.card{
    background: var(--bgCard);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.btn-comprar{
    background: var(--primaria);
    color: var(--bgCard);
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}
footer{
    display: flex;
    justify-content: center;
}