/* reset basico e declaração de variaveis */
:root{
    --primary: #00f2ff;
    --bg:#0f172a;
    --card:#1e293b;
    --text:#f8fafc; 
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.5;
}
.header{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    padding: clamp(1rem, 3vw, 2rem);
}

.logo{
    color: var(--primary);
    margin-right: auto;
}
.menu {
  display: none;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  order: 3;
  padding: 1rem;

  background: var(--bg);
  margin-left: 1rem;
  border-radius: 8px;
}
.menu.ativo {
  display: flex;
}
.menu a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  transition: 0.2s ease;
}
.menu a:hover {
  color: var(--primary);
}
.busca{
    padding: 1rem;
}
.busca input{
    width: 100%;
    padding: clamp(0.8rem, 2vw, 1.2rem);
    border-radius: 8px;
    border: 1px solid var(--primary);
    background: transparent;
    color: var(--text);
}
.catalogo{
    display: grid;
    gap: 1rem;
    padding: 1rem;
}
.card{
    background: var(--card);
    padding: clamp(1rem, 2vw, 2rem);
    border-radius: 12px;
}
.card h3{
    margin: 0.5rem 0;
}
.card button{
    margin-top: 1rem;
    padding: 0.8rem;
    border: 1px solid var(--primary);
    background: transparent;
    color: var(--primary);
    cursor: pointer;
}
.menu-toggle{
    background: transparent;
    border: 1px solid rgba(255,255,255,0.2);
    color: var(--text);
    font-size: 1.3rem;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.menu-toggle:hover{
    background: rgba(255,255,255,0.08);
    border-color: var(--primary);
}


@media (min-width: 600px){

     .header{
        display: flex;
        align-items: center;
    }
  .nav-area{
        display:flex;
        margin-left:auto;
        align-items:center;
    }
    .catalogo{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

   .menu{
        display:flex;          
        flex-direction:row;
        background:transparent;
        padding:0;
        margin:0;
        gap:2rem;
        width:auto;
    }

    .menu a {
        padding: 0.3rem 0;
        border-bottom: 2px solid transparent;
    }

    .menu a:hover {
        border-bottom: 2px solid var(--primary);
    }

    .menu-toggle{
        display: none;
    }
}
